* {
    cursor: none;
}

.custom-cursor {
    position: absolute;
    pointer-events: none;
    transition: transform 0.1s ease;
    z-index: 9;
}

.custom-cursor img {
    width: 30px;
    transform-origin: center;
}