@font-face {
    font-family: 'UC';
    src: url('./font/Uniform Condensed Regular.ttf');
}

@font-face {
    font-family: 'UCB';
    src: url('./font/Uniform Condensed Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'UCB';
}

body {
    overflow: hidden;
}

h1 {
    font-size: 30px;
}

nav {
    padding: 50px 100px;
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 30vw;
    justify-content: space-between;
    margin-left: 200px;
}

li {
    font-size: 20px;
}

button {
    font-size: 20px;
    padding: 5px 10px;
    background-color: #A64B86;
    color: white;
    border: none;
    border-radius: 5px;
}

a {
    color: black;
    text-decoration: none;
}

section {
    padding: 0 100px;
}

span {
    color: #A64B86;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

p {
    font-family: 'UC';
}

.card-container {
    width: 600px;
}

.card {
    background-color: #A64B86;
    width: 275px;
    height: 150px;
    margin-right: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

.card-one {
    background-color: #A64B86;
    height: 150px;
    margin-right: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    color: white;
    background-color: #A64B86;
    width: 255px;
    margin-right: 25px;
    margin-bottom: 25px;
    padding: 20px;
}

.card-two {
    background-color: #A64B86;
    height: 345px;
    margin-right: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    color: white;
    background-color: #A64B86;
    width: 275px;
    margin-right: 25px;
    margin-bottom: 25px;
    padding: 20px;
}

.card-three {
    background-color: #A64B86;
    height: 140px;
    margin-right: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    color: white;
    background-color: #A64B86;
    width: 535px;
    margin-right: 25px;
    margin-bottom: 25px;
    padding: 20px;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.card-span {
    color: white;
}

.interest {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.me {
    position: absolute;
    right: 200px;
    bottom: 0;
}

.notification {
    position: absolute;
    left: 70vh;
    top: 20vh;
    background-color: gray;
    width: 40vh;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
}

.notification a {
    color: purple;
}