.timeline::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    width: 2px;
    background-color: #A64B86;
}

.timeline-entry {
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
}

.image-gallery {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.gallery-image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.5s ease;
    
}

.gallery-image.visible {
    display: block;
    opacity: 1;
}

.project__img {
    height: auto;
    object-fit: fill;
}

.button {
    background-color: #A64B86;
    color: white;
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.button:hover {
    color: #A64B86;
    background-color: white;
    border: 1px #A64B86 solid;
}