.embed {
    position: absolute;
    top: 0;
    left: 30vw;
}

.articles {
    width: 60vw;
}

.pictures {
    display: flex;
    flex-direction: column;
    right: 0;
}

.side-image {
    width: 500px;
    margin-bottom: 10px;
}