body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.body-bg {
    position: absolute;
    left: -70vw;
    width: 0;
    height: 0;
    border-left: 110vw solid transparent;
    border-right: 120vw solid transparent;
    border-top: 50vh solid #D94D1A;
    animation: backgroundAnimation 5s ease infinite;
    z-index: -1;
}

@keyframes backgroundAnimation {
    0% {
        border-top: 50vh solid #D94D1A;
    }
    50% {
        border-top: 50vh solid #A64B86;
    }
    100% {
        border-top: 50vh solid #D94D1A;
    }
}