.card-aboutme {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60px;
    &__text {
        color: black;
    }
    &__icon {
        width: 60px;
    }
}

.cardaboutme-one {
    top: 50vh;
    right: 10vw;
}

.cardaboutme-two {
    top: 40vh;
    right: 14vw;
}

.cardaboutme-three {
    top: 30vh;
    right: 18vw;
}

.cardaboutme-four {
    top: 25vh;
    right: 25vw;
}

.cardaboutme-five {
    top: 30vh;
    right: 32vw;
}

.cardaboutme-six {
    top: 40vh;
    right: 35vw;
}

.cardaboutme-seven {
    top: 50vh;
    right: 38vw;
}