.contact-form {
    position: absolute;
    top: 25vh;
    left: 25vw;
    width: 18vw;
    height: 53vh;
    background-color: white;
    border: gray solid 1px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    z-index: 1;
}

form {
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-group {
    margin-bottom: 10px;
}

input,
textarea {
    border: none;
    background-color: transparent;
    width: 18vw;
    height: 5vh;
    padding: 5px 10px;
    font-size: 15px;
    border: gray solid 1px;
    border-radius: 5px;
    overflow: hidden;
}

textarea {
    height: 20vh;
}

.none-form {
    background-color: transparent;
}

.privacy-notice {
    position: absolute;
    bottom: 20px;
    width: 18vw;
}

.form-group button {
    width: 19.1vw;
    height: 5vh;
}