nav {
    padding: 50px 100px;
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 30vw;
    justify-content: space-between;
    margin-left: 200px;
}

nav li {
    font-size: 20px;
}

.white-nav {
    color: white;
}