.project-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    padding: 20px;
    border: rgb(208, 208, 208) solid 1px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 18vw;
    height: 40vh;
    margin-bottom: 50px;

    &__img {
        width: 100%;
        height: auto;
    }
    &__title {
        font-size: 30px;
    }
    &__description {}
}