nav {
  padding: 50px 100px;
  width: 100vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 30vw;
  justify-content: space-between;
  margin-left: 200px;
}

nav li {
  font-size: 20px;
}

.white-nav {
  color: white;
}

.location {
  display: flex;
  margin-left: 100px;
  margin-top: -20px;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 50px 100px;
  font-size: 20px;
}

.free-footer {
  position: relative;
  width: 100%;
}

.admin-login {
  position: absolute;
  right: 200px;
  bottom: 0;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: scroll;
}

.scroll {
  height: 120vh;
}

.body-bg {
  position: absolute;
  left: -70vw;
  width: 0;
  height: 0;
  border-left: 110vw solid transparent;
  border-right: 120vw solid transparent;
  border-top: 50vh solid #D94D1A;
  animation: backgroundAnimation 5s ease infinite;
  z-index: -1;
}

@keyframes backgroundAnimation {
  0% {
    border-top: 50vh solid #D94D1A;
  }
  50% {
    border-top: 50vh solid #A64B86;
  }
  100% {
    border-top: 50vh solid #D94D1A;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "UCB";
}

button:hover {
  cursor: pointer;
}

section {
  padding: 0 100px;
}

span {
  color: #A64B86;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

p {
  font-family: "UC";
}

.card-container {
  width: 600px;
  margin-top: 50px;
}

.card {
  background-color: #A64B86;
  width: 275px;
  height: 150px;
  margin-right: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  color: white;
  padding: 10px;
}

.card-one {
  background-color: #A64B86;
  height: 150px;
  margin-right: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  color: white;
  background-color: #A64B86;
  width: 255px;
  margin-right: 25px;
  margin-bottom: 25px;
  padding: 20px;
}

.card-two {
  background-color: #A64B86;
  height: 345px;
  margin-right: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  color: white;
  background-color: #A64B86;
  width: 275px;
  margin-right: 25px;
  margin-bottom: 25px;
  padding: 20px;
}

.card-three {
  background-color: #A64B86;
  height: 140px;
  margin-right: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  color: white;
  background-color: #A64B86;
  width: 535px;
  margin-right: 25px;
  margin-bottom: 25px;
  padding: 20px;
}

.card-span {
  color: white;
  text-align: center;
}

.contact-form {
  position: absolute;
  top: 25vh;
  left: 25vw;
  width: 18vw;
  height: 53vh;
  background-color: white;
  border: gray solid 1px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  z-index: 1;
}

form {
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form-group {
  margin-bottom: 10px;
}

input,
textarea {
  border: none;
  background-color: transparent;
  width: 18vw;
  height: 5vh;
  padding: 5px 10px;
  font-size: 15px;
  border: gray solid 1px;
  border-radius: 5px;
  overflow: hidden;
}

textarea {
  height: 20vh;
}

.none-form {
  background-color: transparent;
}

.privacy-notice {
  position: absolute;
  bottom: 20px;
  width: 18vw;
}

.form-group button {
  width: 19.1vw;
  height: 5vh;
}

.aboutme-section {
  width: 40vw;
}

.about-me {
  width: 20vw;
  position: absolute;
  bottom: 0;
  right: 13vw;
}

.pos-top {
  position: absolute;
  top: 20vh;
  right: 20vw;
}

.not-active-msg {
  background-color: rgba(255, 255, 255, 0.7333333333);
  z-index: 2;
  position: absolute;
  top: 25vh;
  left: 25vw;
  width: 18vw;
  height: 53vh;
  border-radius: 20px;
  color: black;
  text-align: center;
  font-size: 30px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  padding: 20px;
  border: rgb(208, 208, 208) solid 1px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 18vw;
  height: 40vh;
  margin-bottom: 50px;
  overflow: hidden;
}
.project__img {
  width: 100%;
  height: 220px;
  margin-bottom: 20px;
}
.project__title {
  border-top: 1px solid rgb(208, 208, 208);
  font-size: 30px;
}

.card-project {
  overflow: hidden;
}

.card-aboutme {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60px;
}
.card-aboutme__text {
  color: black;
}
.card-aboutme__icon {
  width: 60px;
}

.cardaboutme-one {
  top: 50vh;
  right: 10vw;
}

.cardaboutme-two {
  top: 40vh;
  right: 14vw;
}

.cardaboutme-three {
  top: 30vh;
  right: 18vw;
}

.cardaboutme-four {
  top: 25vh;
  right: 25vw;
}

.cardaboutme-five {
  top: 30vh;
  right: 32vw;
}

.cardaboutme-six {
  top: 40vh;
  right: 35vw;
}

.cardaboutme-seven {
  top: 50vh;
  right: 38vw;
}

button {
  font-size: 20px;
  padding: 5px 10px;
  background-color: #A64B86;
  color: white;
  border: none;
  border-radius: 5px;
}

a {
  color: black;
  text-decoration: none;
}

.white-button {
  background-color: white;
  color: black;
}

.full-btn {
  width: 100%;
}

.embed {
  position: absolute;
  top: 0;
  left: 30vw;
}

.articles {
  width: 60vw;
}

.pictures {
  display: flex;
  flex-direction: column;
  right: 0;
}

.side-image {
  width: 500px;
  margin-bottom: 10px;
}

.pictures-projects {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  padding: 20px;
  border: rgb(208, 208, 208) solid 1px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 18vw;
  height: 40vh;
  margin-bottom: 50px;
  overflow: hidden;
}
.project__img {
  width: 100%;
  height: 220px;
  margin-bottom: 20px;
}
.project__title {
  border-top: 1px solid rgb(208, 208, 208);
  font-size: 30px;
}

.card-project {
  overflow: hidden;
}

.image-gallery {
  position: absolute;
  right: 100px;
  top: 150px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.gallery-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.gallery-image.visible {
  opacity: 1;
}

.articles-project {
  width: 50vw;
}
.articles-project__small_space {
  margin-bottom: 5px;
}
.articles-project__space {
  margin-bottom: 40px;
}

.tap {
  position: absolute;
  top: 120px;
  right: 400px;
}

@font-face {
  font-family: "UC";
  src: url("../font/Uniform Condensed Regular.ttf");
}
@font-face {
  font-family: "UCB";
  src: url("../font/Uniform Condensed Bold.ttf");
}
.interest {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.me {
  position: absolute;
  right: 200px;
  bottom: 0;
}

.notification {
  display: block;
  position: absolute;
  right: 5vw;
  top: 10vh;
  background-color: #f3f3f3;
  width: 30vw;
  height: 13vh;
  padding: 20px;
  color: black;
  border-radius: 15px;
}

.notification a {
  color: purple;
}

.notification-buttons {
  margin-top: 20px;
  width: 30vw;
  display: flex;
  justify-content: space-between;
}

.notification-buttons button {
  width: 12vw;
}/*# sourceMappingURL=style.css.map */