@import 'nav';
@import 'footer';
@import 'body';
@import 'important';
@import 'frequent';
@import 'headers';
@import 'card';
@import 'form';
@import 'aboutme';
@import 'notactive';
@import 'portfolio';
@import 'cardaboutme';
@import 'btnlink';
@import 'articles';
@import 'portfolio';
@import 'project';  
@import 'font';
    
.interest {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.me {
    position: absolute;
    right: 200px;
    bottom: 0;
}

.notification {
    display: block;
    position: absolute;
    right: 5vw;
    top: 10vh;
    background-color:#f3f3f3;
    width: 30vw;
    height: 13vh;
    padding: 20px;
    color: black;
    border-radius: 15px;
}

.notification a {
    color: purple;
}

.notification-buttons {
    margin-top: 20px;
    width: 30vw;
    display: flex;
    justify-content: space-between;
}

.notification-buttons button {
    width: 12vw;
}


@import 'responsive';