@import 'nav';
@import 'footer';
@import 'body';
@import 'important';
@import 'headers';
@import 'card';
@import 'form';
@import 'aboutme';
@import 'notactive';
@import 'portfolio';
@import 'cardaboutme';
@import 'btnlink';
@import 'articles';
@import 'portfolio';
@import 'font';




section {
    padding: 0 100px;
}

span {
    color: #A64B86;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.interest {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.me {
    position: absolute;
    right: 200px;
    bottom: 0;
}

.notification {
    position: absolute;
    left: 70vh;
    top: 20vh;
    background-color: rgb(58, 58, 58);
    width: 40vh;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
}

.notification a {
    color: purple;
}